@using AspNetCore.Utilities.Bootstrap5TagHelpers.Sample.Models
@using ICG.AspNetCore.Utilities.Bootstrap5TagHelpers
@using ICG.AspNetCore.Utilities.Bootstrap5TagHelpers.Card
@using ICG.AspNetCore.Utilities.Bootstrap5TagHelpers.Environment
@using ICG.AspNetCore.Utilities.Bootstrap5TagHelpers.Form
@using ICG.AspNetCore.Utilities.Bootstrap5TagHelpers.Modal
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AspNetCore.Utilities.Bootstrap5TagHelpers.Sample.Models.SampleModel

@{
    ViewData["Title"] = "Bootstrap Tag Helper Demos";
}

<h1>TagHelper Demos</h1>

<p>This page shows examples of usage of all included tag helpers within this library.</p>

<h2>alert</h2>

<p>Renders a Alert</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Example</th>
            <th>Display</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Primary</th>
            <td>
                <alert alert-color="Primary">
                    This is a primary alert! Yay
                </alert>
            </td>
            <td>
                <code>
                    &lt;alert alert-color=&quot;Primary&quot;&gt;
                    This is a primary alert! Yay
                    &lt;/alert&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Secondary</th>
            <td>
                <alert alert-color="Secondary">
                    This is a secondary alert! Yay
                </alert>
            </td>
            <td>
                <code>
                    &lt;alert alert-color=&quot;Secondary&quot;&gt;
                    This is a secondary alert! Yay
                    &lt;/alert&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Danger</th>
            <td>
                <alert alert-color="Danger">
                    This is a danger alert! With a <a href="#" class="alert-link">link!</a>.
                </alert>
            </td>
            <td>
                <code>
                    &lt;alert alert-color=&quot;Danger&quot;&gt;
                    This is a danger alert! Yay
                    &lt;/alert&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Warning Dismissible</th>
            <td>
                <alert alert-color="Warning" dismissible="true">
                    This is a dismissible warning alert!
                </alert>
            </td>
            <td>
                <code>
                    &lt;alert alert-color=&quot;Warning&quot; dismissible=&quot;false&quot;&gt;
                    This is a dismissible warning alert!
                    &lt;/alert&gt;
                </code>
            </td>
        </tr>
    </tbody>
</table>

<h2>Badge</h2>

<p>Renders a Badge</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Example</th>
            <th>Display</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Primary</th>
            <td>
                <badge badge-color="Primary">
                    This is a primary Badge
                </badge>
            </td>
            <td>
                <code>
                    &lt;badge badge-color=&quot;Primary&quot;&gt;
                    This is a Primary Badge
                    &lt;/badge&gt;
                </code>
            </td>
        </tr>
        <tr>
            <th>Secondary</th>
            <td>
                <badge badge-color="Secondary">
                    This is a secondary Badge
                </badge>
            </td>
            <td>
                <code>
                    &lt;badge badge-color=&quot;Secondary&quot;&gt;
                    This is a Secondary Badge
                    &lt;/badge&gt;
                </code>
            </td>
        </tr>
    <tr>
        <th>Danger</th>
        <td>
            <badge badge-color="Danger">
                This is a Danger Badge
            </badge>
        </td>
        <td>
            <code>
                &lt;badge badge-color=&quot;Danger&quot;&gt;
                This is a Danger Badge
                &lt;/badge&gt;
            </code>
        </td>
    </tr>
    <tr>
        <th>Danger Pill</th>
        <th>
            <badge badge-color="Danger" display-as-pill="true">
                I'm a Danger Pill Badge
            </badge>
        </th>
        <td>
            <code>
                    &lt;badge badge-color=&quot;Danger&quot; display-as-pill=&quot;True&quot;&gt;
                    I'm a Danger Pill Badge
                    &lt;/badge&gt;
            </code>
        </td>
    </tr>
    </tbody>
</table>
<h2>Button</h2>
<p>These are tag helpers for adding buttons</p>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Example</th>
        <th>Display</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Standard Buttons</td>
        <td>
            <bs-button bs-color="Info">Info</bs-button>
            <bs-button bs-color="Danger">Danger</bs-button>
        </td>
        </tr>
        <tr>
            <td>Outlined Buttons</td>
            <td>
                <bs-button bs-color="Info" is-outline="true">Info</bs-button>
                <bs-button bs-color="Danger" is-outline="true">Danger</bs-button>
            </td>
        </tr>
    </tbody>
</table>
<h2>Environment</h2>

<p>These are tag helpers for working with the environment tag to show environment informtion as an alert.</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Example</th>
            <th>Display</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Non Prod Warning</td>
            <td>
                <environment-alert exclude="Production" alert-color="Warning">
                    This is a non production environment
                </environment-alert>
            </td>
            <td>
                <code>
                    &lt;environment-alert exclude=&quot;Production&quot; alert-color=&quot;Warning&quot;&gt;
                    This is a non production environment
                    &lt;/environment-alert&gt;
                </code>
            </td>
        </tr>
        <tr>
            <td>Prod Warning</td>
            <td>
                <environment-alert include="Production" alert-color="Success">
                    You are in production
                </environment-alert>
            </td>
            <td>
                <code>
                    &lt;environment-alert include=&quot;Production&quot; alert-color=&quot;Success&quot;&gt;
                    You are in production
                    &lt;/environment-alert&gt;
                </code>
            </td>
        </tr>
    </tbody>
</table>

<h2>Cards</h2>

<p>For rendering bootstrap cards</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Example</th>
            <td>Code</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <card>
                    <card-header title="Testing Header"></card-header>
                    <card-body>
                        This is my card body
                    </card-body>
                </card>
            </td>
            <td>
                <code>
                    &lt;card&gt;
                    &lt;card-header title=&quot;Testing Header&quot;&gt;&lt;/card-header&gt;
                    &lt;card-body&gt;
                    This is my card body
                    &lt;/card-body&gt;
                    &lt;/card&gt;
                </code>
            </td>
        </tr>
        <tr>
            <td>
                <card class="bg-success text-white" id="testing-card-id">
                    <card-header title="With Title and Id"></card-header>
                </card>
            </td>
            <td>
                <code>
                    &lt;card class=&quot;bg-success text-white&quot;&gt;
                    &lt;card-header title=&quot;With Title&quot;&gt;&lt;/card-header&gt;
                    &lt;/card&gt;
                </code>
            </td>
        </tr>
        <tr>
            <td>
                <card>
                    <card-header title="Testing All Options">
                        <card-header-actions>
                            <a href="https://www.google.com" class="btn btn-primary">Google</a>
                            <a href="https://www.microsoft.com" class="btn btn-secondary">Microsoft</a>
                        </card-header-actions>
                    </card-header>
                    <card-body>
                        <p>This is my body</p>
                    </card-body>
                    <card-footer>
                        This is my footer
                    </card-footer>
                </card>
            </td>
            <td>
                <code>
                    &lt;card&gt;
                    &lt;card-header title=&quot;Testing All Options&quot;&gt;
                    &lt;card-header-actions&gt;
                    &lt;a href=&quot;https://www.google.com&quot; class=&quot;btn btn-primary&quot;&gt;Google&lt;/a&gt;
                    &lt;a href=&quot;https://www.microsoft.com&quot; class=&quot;btn btn-secondary&quot;&gt;Microsoft&lt;/a&gt;
                    &lt;/card-header-actions&gt;
                    &lt;/card-header&gt;
                    &lt;card-body&gt;
                    &lt;p&gt;This is my body&lt;/p&gt;
                    &lt;/card-body&gt;
                    &lt;/card&gt;
                </code>
            </td>
        </tr>
    </tbody>
</table>

<h2>Modal Dialog</h2>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Example</th>
        <th>Code</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <modal-toggle Target="testing">
                Launch Demo
            </modal-toggle>

            <modal id="testing" class="im-weird" vertically-centered="true" >
                <modal-header Title="Testing Modal Header">
                    <modal-header-dismiss></modal-header-dismiss>
                </modal-header>
                <modal-body>
                    <form-input asp-for="FirstName"></form-input>
                </modal-body>
                <modal-footer>
                    <bs-button bs-color="Secondary" dismisses="modal">Close</bs-button>
                </modal-footer>
            </modal>
        </td>
        <td>
            <code>
                &lt;modal-toggle Target=&quot;testing&quot;&gt;
                Launch Demo
                &lt;/modal-toggle&gt;

                &lt;modal id=&quot;testing&quot;&gt;
                &lt;modal-header Title=&quot;Testing Modal Header&quot;&gt;
                &lt;modal-header-dismiss&gt;&lt;/modal-header-dismiss&gt;
                &lt;/modal-header&gt;
                &lt;modal-body&gt;
                &lt;form-input asp-for=&quot;FirstName&quot;&gt;&lt;/form-input&gt;
                &lt;/modal-body&gt;
                &lt;modal-footer&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot; data-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;
                &lt;/modal-footer&gt;
                &lt;/modal&gt;
            </code>
        </td>
    </tr>      
    <tr>
        <td>
            <modal-toggle Target="testing-secondary">
                Launch Demo
            </modal-toggle>

            <modal id="testing-secondary" class="im-weird" vertically-centered="true" static-backdrop="true" >
                <modal-header Title="Testing Modal Header">
                    <modal-header-dismiss></modal-header-dismiss>
                </modal-header>
                <modal-body>
                    <form-input asp-for="FirstName"></form-input>
                </modal-body>
                <modal-footer>
                    <bs-button bs-color="Secondary" dismisses="modal">Close</bs-button>
                </modal-footer>
            </modal>
        </td>
        <td>
            <code>
                &lt;modal-toggle Target=&quot;testing&quot;&gt;
                Launch Demo
                &lt;/modal-toggle&gt;

                &lt;modal id=&quot;testing&quot;&gt;
                &lt;modal-header Title=&quot;Testing Modal Header&quot;&gt;
                &lt;modal-header-dismiss&gt;&lt;/modal-header-dismiss&gt;
                &lt;/modal-header&gt;
                &lt;modal-body&gt;
                &lt;form-input asp-for=&quot;FirstName&quot;&gt;&lt;/form-input&gt;
                &lt;/modal-body&gt;
                &lt;modal-footer&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot; data-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;
                &lt;/modal-footer&gt;
                &lt;/modal&gt;
            </code>
        </td>
    </tr>      
    </tbody>
</table>

<h2>Progress</h2>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Description</th>
        <th>Display</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Simple Progress</th>
        <th><progress progress-value="75" ></progress></th>
        </tr>
        <tr>
            <th>With Background</th>
            <th><progress progress-value="75" background-color="BootstrapColor.Danger"></progress></th>
        </tr>
    <tr>
        <th>With Background, Striped</th>
        <th><progress progress-value="75" background-color="BootstrapColor.Danger" is-striped="true"></progress></th>
        </tr>
        <tr>
            <th>With Background, Striped, Animated</th>
            <th><progress progress-value="75" background-color="BootstrapColor.Danger" is-striped="true" is-animated="true"></progress></th>
        </tr>
    <tr>
        <th>With Background, Striped, Animated, Label</th>
        <th><progress progress-value="75" background-color="BootstrapColor.Danger" is-striped="true" is-animated="true" progress-display-label="75%"></progress></th>
    </tr>
    </tbody>
</table>

<style>
    code {
        white-space: pre;
    }
</style>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}